<div class = 'user'>
  <input  [(ngModel)]= "user" type = "text" >
    <button (click) = "changeuser()">
    change User
    </button>
</div>
<div>
  {{user}}
</div>

<div>
  <ul>
    <todo *ngFor = "let todo of todos" 
          [data] = "todo"
        (myButtonClicked) = "showText($event)" ></todo>
  </ul>

</div>>
<div>
  this is the text of the child:{{todoTextfromTodo}}
</div>