<mat-card class="example-card">
    <mat-card-content>
  <a routerLink = "">Todos</a>-
  <a routerLink = "/login">Login</a>
  <button (click) = "toRegister()">
    Register
  </button>-
  <button (click) = "toCodes()">
    Codes
  </button>
  <button (click) = "userTodos()">
    userTodos
  </button>
  </mat-card-content>
</mat-card>