<li (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()">
  {{text}} <button (click)= "send()"
                          *ngIf = "showTheButton">
                          Click to see</button>
                        
</li>